@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Press+Start+2P&family=Righteous&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

.progress-bar {
    /* test */
    justify-content: center;
    width: 0%;
    height: 20px;
    background: rgb(76, 175, 80);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}

.start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  gap: 1em;
}

.scene {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}
.scene .background {
  width: 100%;
  height: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% bottom;
  background-image: url(https://kibibit.io/kibibit-assets/achievibit-test/bg-pirates.webp);
  z-index: 1;
}

.rpg-text-box {
  overflow: hidden;
  color: black;
  height: 100px;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, calc(100% + 50px + 50px));
  max-width: 500px;
  width: 80vw;
  line-height: 1.5em;
  margin: 2em 0 80px;
  background: white;
  border: 1px solid white;
  padding: 1em;
  font-size: 0.7rem;
  font-family: "Press Start 2P", cursive;
  font-weight: bolder;
  border-radius: 0.2em;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black, inset 0 0 0 1px black, 3px 5px 0px 1px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 250ms;
  z-index: 10;
}
.rpg-text-box.cont-dot:after {
  opacity: 1;
}
.rpg-text-box:after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  bottom: 1em;
  right: 1em;
  animation: gelatine 1s infinite;
  transition: 250ms opacity;
}

@media (max-width: 520px) {
  .rpg-text-box {
    font-size: 0.5rem;
  }
}
.rpg-text-box.visible {
  opacity: 1;
  transform: translate(-50%);
}

.gelatine {
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.kb-mad {
  display: inline-block;
  color: #ff3860;
}

.kb-important {
  display: inline-block;
  color: #3273dc;
}

.start-game-btn-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

button {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #3273dc;
  padding: 1.5em;
  cursor: pointer;
}

.highlight {
  position: relative;
}
.highlight:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  background: black;
  top: calc(100% + 0.1em);
  animation: width-to-full 1s ease-out forwards 4s;
}

@keyframes width-to-full {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
